@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/*Limpiar estilos deñ navegador*/

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: 'Roboto', sans-serif;

  	font-weight: 100;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
}

nav{
	width: 1024px;
	height: 70px;
	background-color: black;
}

header{
	width: 1024px;
	height: 600px;
	background-image: url("img/header.jpg");
}

section#relojes{
	width: 1024px;
	height: 457px;
	padding-top: 20px;
}

section#nosotros{
	width: 1024px;
	height: 748px;
	background-color: #83ACE7;
}

section#catalogo{
	width: 1024px;
	height: 788px;
	background-color: #E2E93D;
}

section#contacto{
	width: 1024px;
	height: 615px;
	background-color: #F481F6;
}

footer{
	width: 1024px;
	height: 50px;
	background-color: #A1F66F;
}

nav img{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	
}

nav ul li{
	float: left;
	margin-left: 20px;
	
}

nav a{
	color: white;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover{
	color: #FC5F02;
}

section#relojes h2{
	color: white;
	font-size: 34px;
	background-color: #30A2A6;
	width: 324px;
	height: 105px;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	
}

div.boxrelojes{
	width: 237px;
	height: 273px;
	float: left;
	margin-top: 40px;
	margin-left: 9px;
	margin-right: 9px;
}

div.boxrelojes img{
	margin-top: 40px;
	margin-left: 70px;
	width: 100px;
	height: 100px;
}

div.boxrelojes p{
	text-align: center;
	font-size: 20px;
	color: #4A4A4A;
	margin-top: 15px;
}

h2.titulos{
	font-size: 34px;
	color: white;
	background-color: #30A2A6;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	width: 324px;
	height: 61px;
	
}







