@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/*Limpiar estilos deñ navegador*/

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: 'Roboto', sans-serif;

  	font-weight: 100;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
}

nav{
	width: 1024px;
	height: 70px;
	background-color: black;
}

header{
	width: 1024px;
	height: 600px;
	background-image: url("img/header.jpg");
}

section#relojes{
	width: 1024px;
	height: 457px;
	padding-top: 20px;
}

section#nosotros{
	width: 1024px;
	height: 748px;

}

section#catalogo{
	width: 1024px;
	height: 788px;

}

section#contacto{
	width: 1024px;
	height: 615px;
	
}

footer{
	width: 1024px;
	height: 50px;
	background-color: #000000;
}

nav img{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	
}

nav ul li{
	float: left;
	margin-left: 20px;
	
}

nav a{
	color: white;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover{
	color: #FC5F02;
}

section#relojes h2{
	color: white;
	font-size: 34px;
	background-color: #30A2A6;
	width: 324px;
	height: 105px;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	
}

div.boxrelojes{
	width: 237px;
	height: 273px;
	float: left;
	margin-top: 40px;
	margin-left: 9px;
	margin-right: 9px;
}

div.boxrelojes img{
	margin-top: 40px;
	margin-left: 70px;
	width: 100px;
	height: 100px;
}

div.boxrelojes p{
	text-align: center;
	font-size: 20px;
	color: #4A4A4A;
	margin-top: 15px;
}

h2.titulos{
	font-size: 34px;
	color: white;
	background-color: #30A2A6;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	width: 324px;
	height: 61px;
	
}

div#boxnosotros{
	background-color: white;
	width: 846px;
	height: 551px;
	margin-left: 87px;
	margin-right: 87px;
	margin-top: 52px;
}

div.cajitas{
	width: 423px;
	height: 276px;
	background-color: #727272;
	float: left
}

div#txtartesanales{
	background-color: #963F6B;

}

div#imgartesanales{
	background-image: url("img/nosotros_1.jpg");
}

div#imgdiseno{
	background-image: url("img/nosotros_2.jpg");
}

div#txtdiseno{
	background-color: #30A2A6;
}

div.cajitas h3{
	color: white;
	margin-left: 39px;
	margin-top: 63px;
	margin-right: 39px;
	margin-bottom: 24px;
	font-size: 20px;
	line-height: 30px;
}
div.cajitas p{
	color: white;
	margin-left: 39px;
	margin-right: 39px;
	font-size: 14px;
	line-height: 24px;
	
}

section#catalogo h2{
	width: 324px;
	height: 66px;
}

div.boxcatalogo{
	width: 324px;
	height: 587px;
	background-color: #461C31;
	float: left;
	margin-top: 66px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 69px;

}

div.boxcatalogo h4{
	font-size: 38px;
	color: #B14E80;
	margin-top: 50px;
	margin-left: 107px;
	margin-right: 107px;
	margin-bottom: 15px;
}

div.boxcatalogo h5{
	font-size: 21px;
	color: #B14E80;
	margin-left: 107px;
	margin-right: 107px;
	margin-bottom: 45px;
}

div.boxcatalogo p{
	font-size: 14px;
	color: #B14E80;
	margin-left: 106px;
	margin-right: 106px;
	text-align: center;
	margin-bottom: 17px;
}

div.boxcatalogo a{
	width: 112px;
	height: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 28px;
	font-size: 16px;
	color: #B14E80;
	text-decoration: none;
	border: solid 1px #B14E80;
	border-radius: 22px;
	padding-top: 10px;
	padding-left: 50px;

}

div.boxcatalogo img{
	margin-left: 63px;
	margin-right: 63px;
	margin-top: 35px;

}

div.boxcontacto{
	width: 512px;
	height: 430px;
	float: left;
	margin-top: 40px;
}

.campo{
	width: 324px;
	height: 40px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	padding-left: 10px;
	margin-top: 10px;
	color: #B14E80;
	font-size: 16px;
	margin-left: 87px;
}

#altura{
	height: 129px;
	resize: none;
	padding-top: 10px;
}

.enviar{
	width: 87px;
	height: 30px;
	border-radius: 8px;
	background-color: #B14E80;
	color: white;
	font-size: 16px;
	margin-left: 335px;
	cursor: pointer;
	
}
.enviar:hover{
	background-color: #461C31;
	color: #B14E80;
}

::-webkit-input-placeholder{color:#B14E80; }/*safari y chrome*/
::-mox-input-placeholder {color: #B14E80;}/*mozila firefox*/
::-ms-input-placeholder{color: #B14E80;} /*microsoft ie o edge*/
::-o-input-placeholder{color:#B14E80;}/*opera*/
input-placeholder{color:#B14E80;} /*universal*/

footer h2{
	color: white;
	margin-left: 15px;
	padding-top: 8px;
	float: left;
}
footer ul{
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	list-style: none;
	
}

footer ul li{
	float: left;
	margin-left: 15px;
	
}

div#facebook{
	width: 7px;
	height: 13px;
	background-image: url("img/facebook.svg");
	
}

div#facebook:hover{
	background-image: url("img/facebook_rosa.svg");
}

div#twitter{
	width: 7px;
	height: 13px;
	background-image: url("img/twitter.svg");
	
}

div#twitter:hover{
	background-image: url("img/twitter_rosa.svg");
}

div#instagram{
	width: 7px;
	height: 13px;
	background-image: url("img/instagram.svg");
	
}

div#instagram:hover{
	background-image: url("img/instagram_rosa.svg");
}


